<nav class="navbar navbar-expand-md navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#" routerLink>Inicio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


</nav>
