<div class="row my-3">
  <div class="col-12" >
    <div class="card-columns">
      <div class="card" *ngFor="let propiedad of propiedades">
        <img [src]=propiedad.featured_img_url alt="" class="card-img-top">
        <div class="card-body">
          <h3 class="card-title">{{propiedad.name}}</h3>
          <p class="card-text text-muted">{{propiedad.description}}</p>
          <button class="btn btn-info btn-sm" (click)="getDetails(propiedad)">Consultar detalle</button>
          <!-- [routerLink]="['/propiedad', propiedad.id]" -->
        </div>
        <!-- <pre>{{propiedad | json}}</pre> -->
      </div>
    </div>
  </div>
</div>
